
.grid{
    display: grid;
    justify-content: center;
    margin: 0 auto;
}
@for $i from 1 to $totalColumnas{
    .grid--#{$i}col{
        width:100px;
    }
}

@for $i from 1 through $grid-columns {
    .grid__area#{$i} {
        grid-area:column#{$i};
    }
}

.grid--3col{
    width: 100%;
    grid-template-areas:
        'column1 column2 column3';
}
.grid--asistente{
    width: 80%;
    grid-template-areas:
        'column1 column1 column2 column3 column4';
}

.grid--5col{
    width: 100%;
    grid-template-areas:
        'column1 column2 column3 column4 column5';
}
@media (max-width:1440px){
    .grid--5col{
        grid-template-areas:
            'column1 column2 column3'
            'column4 column5 .';
    }
    .grid--3col{
        grid-template-areas:
            'column1 column2'
            'column3 .';
    }
}
@media (max-width:960px){
    .grid--5col{
        grid-template-areas:
            'column1 column2'
            'column3 column4'
            'column5 .';
    }
}
@media (max-width:480px){
    .grid--5col{
        grid-template-areas:
            'column1'
            'column2'
            'column3'
            'column4'
            'column5';
    }

    .grid--3col{
        grid-template-areas:
            'column1'
            'column2'
            'column3';
    }
}

.grid--complicado{
    display:grid;
    text-align:center;
    grid-template-areas:
        'column1 column1 column2 column3 column4 column4'
        'column1 column1 column7 column7 column4 column4'
        'column5 column6 column7 column7 column8 column9';
    width:1200px;
    grid-gap:0px;
    justify-items: center;
    margin: 0 auto;
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

