/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-nov-2018, 9:35:54
    Author     : Kokekui
*/
@include debug;
.image{
    display: inline;
}
.image--centrado1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image--modelos{
    width: 320px;
}

.image--configure{
    width: 600px;
}
.image--asistente{
    width:100%;
    height: 320px;
}
//image--comunidad-pequenyo
.image--comunidad-pequenyo{
    width:200px;
    height: 200px;
}
.image--comunidad-grande{
    width:400px;
    height: 350px;
}
.image--comunidad{
    width: 100%;
    height: 100%;
}
.image--descubre{
    width:100%;
    height: 100%;
}
