/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-nov-2018, 20:32:54
    Author     : kokek
*/

.logo{
    width:123px;
    height: 75px;
    margin: 0 auto;
}