
body{
    font-size: 40px;
    font-family: 'Courier New', Courier;
    text-align: center;
}
.button__align--right{
    text-align: right;
}
.textDescubre1{
    grid-area:textDescubre1;
    padding-left: 80px;
}

