span{
    font-size:15px;
}
.texto--centrado{
    text-align: center;
}
.texto{
    font-family: arial;
}
.texto--dentro-imagen-modelos{
    position: absolute;
    top: 310px;
    left: 220px;
    color: $textoImgModelos;
}
.texto--dentro-imagen-configure{
    position: absolute;
    top: 310px;
    left: 230px;
    color: $textoImgConfigure;
}
.contenedor{
    position:relative;
}