span{
    font-size:15px;
}
.texto--centrado{
    text-align: center;
}
h1{
    text-align: center;
}
.texto--dentro-imagen{
    position: absolute;
    top: 10px;
    left: 10px;
}
.contenedor{
    position:relative;
}