span{
    font-size:15px;
}
.texto--centrado{
    text-align: center;
}
.texto{
    font-family: arial;
}
.texto--dentro-imagen-blanco{
    position: absolute;
    top: 310px;
    left: 220px;
    color: $textoImgBlanco;
}
.texto--dentro-imagen-negro{
    position: absolute;
    top: 310px;
    left: 230px;
    color: $textoImgNegro;
}
.contenedor{
    position:relative;
}