/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2018, 12:24:14
    Author     : Alumno
*/

$licencia: Windows10;
$menu:#333;
$hooverMenu:#111;
$debug: 0;